h1#score{
  margin-left: 400px !important;
  margin-bottom: 300px;
  color: green;
  position: static;
}

button{
  margin-left: 100px;
}

#scoreid{
  margin-left: 600px;
}

a {
  color:white;
  text-decoration: none;
  background-color: transparent;
}
