<h3>Divide & Conquer</h3>
<br>
<p>Broadly, we can understand divide-and-conquer approach in a three-step process.</p>

<h5>Divide/Break</h5>
<p>This step involves breaking the problem into smaller sub-problems. Sub-problems should represent a part of the original problem. This step generally takes a recursive approach to divide the problem until no sub-problem is further divisible. At this stage, sub-problems become atomic in nature but still represent some part of the actual problem.</p>

<h5>Conquer/Solve</h5>
<p>This step receives a lot of smaller sub-problems to be solved. Generally, at this level, the problems are considered 'solved' on their own.</p>


<h5>Merge/Combine</h5>
<p>When the smaller sub-problems are solved, this stage recursively combines them until they formulate a solution of the original problem. This algorithmic approach works recursively and conquer & merge steps works so close that they appear as one.</p>
