<h2>Shells In Linux</h2><br>

<p>A shell in a Linux operating system takes input from you in the form of commands, processes it, and then gives an output. It is the interface through which a user works on the programs, commands, and scripts. A shell is accessed by a terminal which runs it.</p>

<p>You can open a shell prompt by selecting Applications (the main menu on the panel) => System Tools => Terminal. You can also start a shell prompt by right-clicking on the desktop and choosing Open Terminal from the menu.</p>