<h4>Basic Types</h4>
<p>They are arithmetic types and are further classified into: (a) integer types and (b) floating-point types.</p>

<hr>

<h4>Enumerated types</h4>
<p>They are again arithmetic types and they are used to define variables that can only assign certain discrete integer values throughout the program.</p>

<hr>

<h4>The type void</h4>
<p>The type specifier void indicates that no value is available.</p>

<hr>

<h4>Derived types</h4>
<p>They include (a) Pointer types, (b) Array types, (c) Structure types, (d) Union types and (e) Function types.</p>


