<b>Your Task:</b><br><br>

<p>You don't need to read input or print anything. Your task is to complete the function isBST() which takes the root of the tree as a parameter and returns true if the given binary tree is BST, else returns false.</p>

<br><b>Expected Time Complexity:</b> O(N).<br><br>
<b>Expected Auxiliary Space:</b> O(Height of the BST).<br><br>


<b>Constraints:</b><br>
0 <= Number of edges <= 100000<br><br>
<p>View more on trees</p>
<a href="https://medium.com/techie-delight/binary-tree-interview-questions-and-practice-problems-439df7e5ea1f">https://medium.com/techie-delight/binary-tree-interview-questions-and-practice-problems-439df7e5ea1f</a>

<a href="https://www.tutorialspoint.com/execute_nodejs_online.php">Click here for compiler</a>
