<b>Your Task:</b><br>
<p>You don't need to read input or print anything. Your task is to complete the function countTriplet() which takes the array arr[] and N as inputs and returns the triplet count</p>

<b>Example 1:</b><br>

<b>Input:</b>
N = 4<br>
arr[] = [1, 5, 3, 2]<br>
Output: 2<br>
Explanation: There are 2 triplets: <br>
1 + 2 = 3 and 3 +2 = 5 <br><br>

<b>Expected Time Complexity:</b> O(N2)<br>
<b>Expected Auxiliary Space:</b> O(1)<br><br>

<b>Constraints:</b><br>
1 ≤ N ≤ 103<br>
1 ≤ arr[i] ≤ 105<br><br>
<p>View more on arrays</p>
<a href="https://www.geeksforgeeks.org/top-50-array-coding-problems-for-interviews/">https://www.geeksforgeeks.org/top-50-array-coding-problems-for-interviews/</a>
