<p>Print the elements of an array in the decreasing frequency if 2 numbers have same frequency then print the one which came first. </p><br>
<b>Examples:  </b><br>
Input:  arr[] = [2, 5, 2, 8, 5, 6, 8, 8]<br>
Output: arr[] = [8, 8, 8, 2, 2, 5, 5, 6]<br><br>

Input: arr[] = [2, 5, 2, 6, -1, 9999999, 5, 8, 8, 8]<br>
Output: arr[] = [8, 8, 8, 2, 2, 5, 5, 6, -1, 9999999]<br>

<p>View more on Sorting</p>
<a href="https://www.geeksforgeeks.org/sort-elements-by-frequency/">https://www.geeksforgeeks.org/sort-elements-by-frequency/</a>