.vertical-center {
  height: 600px;;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

label {
  font-weight: bold;
}

.left{
  margin-left: 750px !important;
}

#quizLink{

  margin-top: 50px;
}

#viewScore{
position: relative;
  margin-left: 140px !important;
}

 .form-control.quiz{
  width: 50%;
}

.row{
  margin-top: 50px;
}

h2{
  margin-left: 350px;
}


#changeQuiz{
  margin-left: 50px;
}

#table{
  margin-top: 50px;
}
