<p>Given an image of size n*m, location of a pixel in the screen i,e(sr, cc) and color newColor, your task is to replace color of the given pixel and all adjacent(excluding diagonally adjacent) same colored pixels with the given color newColor.</p>
<br>
<b>Your Task:</b><br>
<p>You don't need to read or print anyhting. Your task is to complete the function floodFill() which takes image, sr, sc and newColor as input paramater and returns the image after flood filling.</p>
<br>
<b>Expected Time Compelxity:</b> O(n*m)<br>
<b>Expected Space Complexity:</b> O(n*m)<br><br>

<b>Constraints:</b><br>
1 <= n <= m <= 100<br>
0 <= pixel values <= 10