<p>Given a string S, the task is to check if the string target is a subsequence of string S or not, using a Stack.</p><br>
<b>Examples: </b><br>
<b>Input: </b>S = ”KOTTAYAM”, target = ”KOTA”<br>
<b>Output: </b>Yes<br>
Explanation: “KOTA” is a subsequence of “KOTTAYAM”.<br><br>

<b>Input: </b>S = ”GEEKSFORGEEKS”, target =”FORFOR”<br>
<b>Output: </b>No<br><br>

<p>View more on Strings</p>
<a href="https://www.java67.com/2018/04/21-string-programming-and-coding-interview-questions-answers.html">https://www.java67.com/2018/04/21-string-programming-and-coding-interview-questions-answers.html</a>

