<p>Given a singly linked list consisting of N nodes. The task is to remove duplicates (nodes with duplicate values) from the given list (if exists).</p>
<b>Your Task:</b>
<p>The task is to complete the function removeDuplicates() which should remove the duplicates from linked list and return the head of the linkedlist.</p>

<b>Expected Time Complexity: </b> O(N)<br>
<b>Expected Auxilliary Space: </b>O(1)<br><br>
<b>Constraints:</b><br>
1 <= Number of nodes <= 104<br><br><br>
<p>View more on linked list</p>
<a href="https://www.geeksforgeeks.org/top-20-linked-list-interview-question/">https://www.geeksforgeeks.org/top-20-linked-list-interview-question/</a>


