<h2>Tuples In Python</h2>
<br>
<p>A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

    Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −
    </p>
    <p>tup1 = ('physics', 'chemistry', 1997, 2000);</p>
    <p>tup2 = (1, 2, 3, 4, 5 );</p>
    <p>tup3 = "a", "b", "c", "d";</p>
