<h2>Computer Network Types</h2>
<p>A computer network is a group of computers linked to each other that enables the computer to communicate with another computer and share their resources, data, and applications.</p>

<p>A computer network can be categorized by their size. A computer network is mainly of four types:</p>

<ul>
    <li>Computer Network Types</li>
    <li>LAN(Local Area Network)</li>
    <li>PAN(Personal Area Network)</li>
    <li>MAN(Metropolitan Area Network)</li>
    <li>WAN(Wide Area Network)</li>
</ul>


