<div class="row">
    <div class="col-md-3"><img src="../../assets/logo.png" class="img-responsive ml-5" alt=" " width="150px" height="150px"></div>
    <div class="col-md-6  mt-4">
        <h1>Dayananda Sagar College of Engineering
        </h1>
        <h6 class="text-center">Department of Information Science and Engineering</h6>
    </div>
    <div class="col-md-3 text-right">
        <button class="btn btn-success mt-4 mr-5">Logout</button>
    </div>
</div>
<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <router-outlet name="home"></router-outlet>
</div>