<p>An operating system is a program that acts as an interface between the user and the computer hardware and controls the execution of all kinds of programs.</p>

<p>Following are some of important functions of an operating System.</p>
<ul>
    <li>Memory Management</li>
   <li> Processor Management</li>
    <li>Device Management</li>
    <li>File Management</li>
    <li>Security</li>
    <li>Control over system performance</li>
    <li>Job accounting</li>
    <li>Error detecting aids</li>
    <li>Coordination between other software and users</li>

</ul>

<p>An Operating System (OS) is an interface between a computer user and computer hardware. An operating system is a software which performs all the basic tasks like file management, memory management, process management, handling input and output, and controlling peripheral devices such as disk drives and printers.

    Some popular Operating Systems include Linux Operating System, Windows Operating System, VMS, OS/400, AIX, z/OS, etc.</p>